<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.myproject.firebase.ahmad.candaanku"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name="com.myproject.firebase.ahmad.candaanku.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.myproject.firebase.ahmad.candaanku.MainActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <!--<activity android:name="com.google.firebase.codelab.friendlychat.TambahKategori"/>-->
        <!--<activity android:name="com.google.firebase.codelab.friendlychat.TambahCerita"/>-->
        <!--<activity android:name="com.google.firebase.codelab.friendlychat.UbahKategori"/>-->

        <!--<activity android:name="com.google.firebase.codelab.friendlychat.MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->
                <!--<data-->
                    <!--android:host="friendlychat  .firebase.google.com"-->
                    <!--android:scheme="http"-->
                    <!--android:pathPrefix="/message"-->
                    <!--/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity android:name=".MainActivityOrigin" />-->
        <!--<activity android:name=".MainActivity2" />-->

        <!--<service-->
            <!--android:name=".MyFirebaseMessagingService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service-->
            <!--android:name=".MyFirebaseInstanceIdService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a6ea342c87f9c2b9826ad3e7ce1f7c0ac8b516a3" />

    </application>

</manifest>
